<h2>Showing all articles</h2>
<p> <%= link_to 'Create new article', new_article_path%> </p>
<% @articles.each do |article| %>
	<section>
		<p> Title: <%= article.title%></p>
		<p> Description: <%= article.description%></p><br/>
		<%= link_to 'Show', article_path(article)%> 
		<%= link_to 'Edit', edit_article_path(article)%> 
		<%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure you want to delete?'} %> 
	</section>
<% end%>